@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>
<hr />
<p class="lead"><strong>BookListX</strong> is a simple, efficient and free application where you can keep track of books you already read and books you wish to read next. </p>

<p class="lead1">BooklistX is planning to lauch soon a feature where you will be able to share and see reviews from other readers.</p> 
<p>Lets Keep reading!!!!</p>

<p><strong>"A reader lives a thousand lives before he dies. The man who never reads lives only one."</strong></p>
